<h1 class="first" style="text-align: center">Home Page</h1>
<div #dt>
    <div class="ui-g">
        <div class="ui-g-3">
            <div class="label margin-2">
                <div class="margin-2">Nome</div>
            </div>
            <input id="nome" type="text" size="30" pInputText [(ngModel)]="nomefilt"
                (input)="dt.filter($event.target.value, 'nome', 'contains')">
        </div>
        <div class="ui-g-3">
            <div class="label margin-2">
                <div class="margin-2">Cognome</div>
            </div>
            <input id="cognome" type="text" size="30" pInputText [(ngModel)]="cognomefilt"
                (input)="dt.filter($event.target.value, 'cognome', 'contains')">
        </div>
        <div class="ui-g-3">
            <div class="label margin-2">
                <div class="margin-2">Codice Fiscale</div>
            </div>
            <input id="cf" type="text" size="30" pInputText [(ngModel)]="cffilt"
                (input)="dt.filter($event.target.value, 'id', 'contains')">
        </div>
        <div class="ui-g-2">
            <div class="label margin-3">
                <div class="margin-3">Data di Nascita</div>
            </div>
            <p-calendar [(ngModel)]="dateFilters" dataType="string" dateFormat="dd/mm/yy" [style]="{width: '25vw'}"
                (onSelect)="dt.filter(dateFilters, 'datadinascita' , 'contains')">
            </p-calendar>
        </div>
        <div class="ui-g-1">
            <div class="label margin-2">
                <div class="margin-2">Sesso</div>
            </div>
            <div class="ui-g-6">
                <p-radioButton name="sesso" value="M" [(ngModel)]="sex" (click)="dt.filter(sex, 'sesso' , 'contains')">
                </p-radioButton>
                <div class="label margin-2">
                    <div class="margin-2">M</div>
                </div>
            </div>
            <div class="ui-g-6">
                <p-radioButton name="sesso" value="F" [(ngModel)]="sex" (click)="dt.filter(sex, 'sesso' , 'contains')">
                </p-radioButton>
                <div class="label margin-2">
                    <div class="margin-2">F</div>
                </div>
            </div>
        </div>
        <div class="ui-g-12">
            <button pButton type="button" label="Reset" icon="fa fa-minus" class="ui-button-rounded ui-button-prime"
                style="font-size: 1em; float:right;" (click)="reset(dt)"
                (click)="sex=''; dateFilters=''; nomefilt=''; cognomefilt=''; cffilt='';"></button>
        </div>
    </div>

    <p-table [value]="persone" [columns]="scrollableCols" [frozenColumns]="frozenCols" frozenWidth="100vw" #dt
        [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols" style="width:170px">
                    {{col.header}}
                </th>
                <th colspan="3">Opzioni</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-persone>
            <tr>
                <td *ngFor="let col of cols" style="text-align: center">
                    {{persone[col.field]}}
                </td>
                <td style="text-align: center"><button pButton type="button" icon="fa fa-trash"
                        class="ui-button-rounded ui-button-danger" style="font-size: 1em" style="align-items: center"
                        (click)="showDialogDelete(persone)"></button></td>
                <td style="text-align: center"><button pButton type="button" icon="fa fa-edit"
                        class="ui-button-rounded ui-button-warning" style="font-size: 1em"
                        (click)="showDialogEdit(persone)"></button></td>
                <td style="text-align: center"><button pButton type="button" icon="fa fa-file"
                        class="ui-button-rounded ui-button-info" style="font-size: 1em"
                        (click)="showDialogInfo(persone)"></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="ui-g-12">
    <button pButton type="button" label="Aggiungi" icon="fa fa-plus" class="ui-button-rounded ui-button-prime"
        style="font-size: 1em; float: right;" (click)="showDialogCreate()"></button>
</div>
<p-dialog [header]="genere" [(visible)]="displayEdit" [modal]="true" [responsive]="true" [resizable]="true"
    [style]="{width: '100vw',height:'1200px'}" [maximizable]="false" [baseZIndex]="1000" [appendTo]="body"
    (onShow)="showDialogMaximized($event,dialDetail)" #dialDetail name="fieldName" ngDefaultControl [closable]="false">
    <form [formGroup]="checkoutForm" >
        <div class="ui-g">
            <div class="ui-g-4">
                <div class="label margin-2">
                    <div class="margin-2">Nome</div>
                </div>
                <input id="nome" type="text" formControlName="nome" size="30" pInputText #nome required
                    class="form-control" [readonly]="disabled">
                <div *ngIf="checkoutForm?.controls?.nome.invalid && checkoutForm?.controls?.nome.touched">Inserisci un nome</div>
            </div>
            <div class="ui-g-4">
                <div class="label margin-2">
                    <div class="margin-2">Cognome</div>
                </div>
                <input id="cognome" type="text" formControlName="cognome" size="30" pInputText #cognome required
                    [readonly]="disabled">
                    <div *ngIf="checkoutForm?.controls?.cognome.invalid && checkoutForm?.controls?.cognome.touched">Inserisci un cognome</div>
            </div>
            <div class="ui-g-4">
                <div class="label margin-2">
                    <div class="margin-2">Codice Fiscale</div>
                </div>
                <input id="id" type="text" formControlName="id" size="30" pInputText #id required [readonly]="disabled"
                minlength="16" maxlength="16" pattern="^[A-Z]{6}[0-9]{2}[A-Z][0-9]{2}[A-Z][0-9]{3}[A-Z]$">
                    <div *ngIf="checkoutForm?.controls?.id.invalid && checkoutForm?.controls?.id.touched">Inserisci un codice fiscale valido</div>
            </div>
            <div class="ui-g-4" [formGroup]="checkoutForm">
                <div class="label margin-2">
                    <div class="margin-2">Data di Nascita</div>
                </div>
                <p-calendar formControlName="datadinascita" dateFormat="dd/mm/yy" dataType="string" required
                    [disabled]="disabled" [style]="{width: '20vw'}"></p-calendar>
                    <div *ngIf="checkoutForm?.controls?.datadinascita.invalid && checkoutForm?.controls?.datadinascita.touched">Inserisci una data di nascita</div>
            </div>
            <div class="ui-g-4">
                <div [formGroup]="checkoutForm">
                    <div class="label margin-2">
                        <div class="margin-2">Sesso</div>
                    </div>
                    <div class="ui-g-3">
                        <p-radioButton name="sesso" value="M" formControlName="sesso" label="M" [disabled]="disabled"
                            required>
                        </p-radioButton>
                    </div>
                    <div class="ui-g-3">
                        <p-radioButton name="sesso" value="F" formControlName="sesso" label="F" [disabled]="disabled"
                            required>
                        </p-radioButton>
                    </div>
                    <div *ngIf="checkoutForm?.controls?.sesso.invalid && checkoutForm?.controls?.sesso.touched">Inserisci un sesso</div>
                </div>
            </div>
            <div class="ui-g-4">
                <div [formGroup]="checkoutForm">
                    <div class="label margin-2">
                        <div class="margin-2">Indirizzo</div>
                    </div>
                    <input id="indirizzo" type="text" formControlName="indirizzo" size="30" pInputText required
                        [readonly]="disabled">
                        <div *ngIf="checkoutForm?.controls?.indirizzo.invalid && checkoutForm?.controls?.indirizzo.touched">Inserisci un indirizzo</div>
                </div>
            </div>
            <div class="ui-g-3">
                <div [formGroup]="checkoutForm">
                    <div class="label margin-2">
                        <div class="margin-2">Città</div>
                    </div>
                    <p-dropdown id="citta" [options]="cities" formControlName="citta" option="value" label="label"
                        required [disabled]="disabled" [(ngModel)]="selectedCity" placeholder="Inserisci una città"
                        dataType="string"></p-dropdown>
                        <div *ngIf="checkoutForm?.controls?.citta.invalid && checkoutForm?.controls?.citta.touched">Inserisci una città</div>
                </div>
            </div>
            <div class="ui-g-3 ui-g-offset-1">
                <div [formGroup]="checkoutForm">
                    <div class="label margin-2">
                        <div class="margin-2">Provincia</div>
                    </div>
                    <p-dropdown id="provincia" [options]="cities" formControlName="provincia" option="value"
                        label="label" required [disabled]="disabled" [(ngModel)]="selectedProv"
                        placeholder="Inserisci una provincia" dataType="string"></p-dropdown>
                        <div *ngIf="checkoutForm?.controls?.provincia.invalid && checkoutForm?.controls?.provincia.touched">Inserisci una provincia</div>
                </div>
            </div>
        </div>
        <p-footer style="float: right">
            <button *ngIf="modifica && !disabled" pButton icon="fa fa-check" type="submit" label="Yes"
            (click)="validatecf(checkoutForm.value, checkoutForm.controls?.nome.value, checkoutForm?.controls?.cognome.value, checkoutForm?.controls?.datadinascita.value, checkoutForm?.controls?.sesso.value, checkoutForm?.controls?.citta.value, checkoutForm?.controls?.provincia.value, checkoutForm?.controls?.id.value)"
                [disabled]="!checkoutForm.valid"></button>
            <button *ngIf="crea && !disabled" pButton icon="fa fa-check" type="submit" label="Yes"
            (click)="validatecf(checkoutForm.value, checkoutForm.controls?.nome.value, checkoutForm?.controls?.cognome.value, checkoutForm?.controls?.datadinascita.value, checkoutForm?.controls?.sesso.value, checkoutForm?.controls?.citta.value, checkoutForm?.controls?.provincia.value, checkoutForm?.controls?.id.value)"
                [disabled]="!checkoutForm.valid"></button>
            <button type="button" pButton icon="fa fa-close" (click)="close()" label="Chiudi"
                class="ui-button-secondary"></button>
        </p-footer>
    </form>
    
    <!--<p-dialog header="Errore durante l'inserimento" [(visible)]="!cfvalido" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <p>Non è stato possibile completare l'operazione poichè il codice fiscale non è valido</p>
    <p-footer>
        <button type="button" pButton icon="fa fa-close" (click)="cfvalido=true" label="Chiudi"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>-->
</p-dialog>


<!--Cancellazione di un elemento all'interno della matrice-->
<p-dialog header="Cancellazione elemento" [(visible)]="displayDelete" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000" [closable]="false">
    <p>Sei sicuro di voler eliminare l'elemento?</p>
    <p-footer>
        <button type="button" pButton icon="fa fa-check" (click)="deleteIt($event, pers)" label="Yes"
            (click)="displayDelete=false"></button>
        <button type="button" pButton icon="fa fa-close" (click)="displayDelete=false" label="No"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
